<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestDependency">

	<test name="TestCase1" preserve-order="true">
		<classes>
			<!-- <class name="com.sugon.test.install"/>
			<class name="com.sugon.test.createDataSet"/>
			<class name="com.sugon.test.insertData"/>
			<class name="com.sugon.test.testMQL"/> -->
			<class name="com.sugon.test.NewTest"/>
		</classes>
	</test>
</suite>